<footer class="p-2 border-t-2 rounded border-white border-solid text-center">
    <a class="underline text-sm" href="/">Website Name</a>
    <p class="mx-2">All Rights Reserved 2023</p>
    <div>
        <a class="underline text-sm" href="/about">About Us</a>
        <a class="underline text-sm" href="/privacy-policy">Privacy Policy</a>
        <a class="underline text-sm" href="/terms-and-conditions">Terms and Conditions</a>
        <a class="underline text-sm" href="/disclaimer">Disclaimer</a>
    </div>
</footer>