<%- include('../partials/head') %>
<body class="bg-gray-900 mx-auto max-w-screen-xl text-white">
    <!-- Navbar -->
    <%- include('../partials/header') %>
    <main class="px-4 container text-center py-40">
        <h1 class="text-4xl">404 Not Found</h1>
    </main>
    <!-- Footer -->
    <%- include('../partials/footer') %>
</body>
</html>