<%- include('../partials/head') %>
<body class="mx-auto max-w-screen-xl">
    <!-- Navbar -->
    <%- include('../partials/header') %>
    <main class="px-4">
        <!-- Hero -->
        <section class="my-20">

        </section>

    </main>
    <!-- Footer -->
    <%- include('../partials/footer') %>
</body>
</html>